<header>
	<div class="logo">
		<h1 class="logo-text">MovieSite</h1>
	</div>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
		
	</nav>  
</header>
