<section class="hero">
	<% if(typeof heroImage != 'undefined'){ %>
		<% heroImage.forEach(heroImage =>{ %>
		<div class="hero-info">
			<h1 class="movie-title-big"><%= heroImage.movie_title %></h1>
			<p class="movie-genre"><%= heroImage.movie_genre %></p>
			<a href="/info/<%= heroImage.movie_id %>"><button class="movie-details">Learn More</button></a>
		</div>
		<% }); %>
	<% } %>
</section>