
@charset "UTF-8";
/* CSS Document */

#contactH1{
	margin: 2% 0;
}

#formSectionContainer{
	display: flex;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.678);
}

#contactForm{
	flex: 2;
}

.contactFormField{
	margin: 2.5% 0;
}

.contactFormInput, .contactFormTxtArea, .contactFormTxtArea{
	padding: 1%;
	font-size: 1em;
}

.contactFormInput{
	width: 50%;
}

.contactFormInput{
	height: 25px;
}

.contactFormTxtArea{
	resize: none;
	width: 100%;
	height: 250px;
	font-family: 'Roboto', sans-serif;
}

#sendButton{
	width: 10%;
	height: 25px;
	cursor: pointer;
}

#returnMessageContainer{
	display: inline-block;
	flex: 1;
	margin: 2% 1%;
	padding: 2%;
	border: solid 1px #FFF;
	text-align: center;
	font-size: 1em;
	line-height: 30px;
	color: #FFF;
}

.exclamationMark{
	margin-left: 15px;
	font-size: 2em;
	font-weight: bold;
	color: rgb(255, 0, 0);
}



