
@charset "UTF-8";
/* CSS Document */

/*Overall stuff*/
html{
	overflow-y: scroll;
	-moz-scrollbars: vertical;
	font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
	padding-bottom: 1em;
	font-size: .9em;
}

#wrapper{
	width: 65%;
    margin: 0 auto;
}
/*Overall stuff end*/

.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}
.column{
	/* height: 50vh; */
	width: 20vw;
	padding: 10px;
	margin-bottom: 10px;
}
img{
	height: 100%;
	width: 100%;
}
.movie-info{
	background-color: #ffffffc5;
	-webkit-box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 6px -2px rgba(0,0,0,0.5);
	margin-bottom: 10px;
}
ul{
	display: flex;
	justify-content: center;
	align-content: center;
}
li{
	list-style-type: none;
	align-self: center;
	padding: 10px;
}
a{
	text-decoration: none;
	color: #ffffff;
	display: inline;
}