
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Contact</title>

	<!-- css link -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper">

		<main>
      <form id="contactForm" method="post">
        <div class="contactInput">
          <input 
            name="name" 
            type="text"  
            placeholder="Full Name"
            value="<%= typeof values != 'undefined' ? values.name: '' %>"
          >
        </div>
  
        <div class="contactInput">
          <input 
            name="email" 
            type="text"  
            placeholder="Email"
            value="<%= typeof values != 'undefined' ? values.email: '' %>"
          >
        </div>

        <div class="contactInput">
          <input 
            name="subject" 
            type="text"  
            placeholder="Email"
            value="<%= typeof values != 'undefined' ? values.subject: '' %>"
          >
        </div>

        <textarea 
          class="contactInput"
          name="message" 
          placeholder="Entry Text"
        >
          <%= typeof values != 'undefined' ? values.message : '' %>
        </textarea>
  
        <div is="sendButtonContainer">
          <button id="sendButton" type="submit">Send</button>
        </div>
      </form> <!-- #contactForm end -->
		</main>

		<footer>

		</footer>

	</div> <!-- #wrapper end -->
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>

</html>