
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Movie info - Info</title>

	<!-- css link --> 
	<link rel="stylesheet" href="/css/info.css">

	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" 
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
	<div id="wrapper"> 

		<main>

			<h1>Tester</h1>

			<!-- <div id="outerBox">

				<div id="moviePoster">
					<img src="/images/godzilla2.jpg">
				</div>

				<div id="movieTrailer">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/QFxN2oDKk0E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div id="movieText">
					<div id="innerMovieText">
						<h3>Godzilla 2: King of the Monsters</h3>
						<p>The crypto-zoological agency Monarch faces off against a battery of god-sized monsters, including the mighty Godzilla, who collides with Mothra, Rodan, and his ultimate nemesis, the three-headed King Ghidorah.</p>
						<a href="#">Read more  <i class="fas fa-chevron-circle-right"></i></a>
					</div>
				</div>

			</div> -->

				

					<% if(typeof blogPost != 'undefined') { %>
			
					<% blogPost.forEach(product => { %>

					<div id="outerBox">

						<div id="moviePoster">
							<%= <img src="/images/godzilla2.jpg"> %>
						</div>

						<div id="movieText">
							<div id="innerMovieText">
								<h3><%= Godzilla 2: King of the Monsters %></h3>
								<p><%= The crypto-zoological agency Monarch faces off against a battery of god-sized monsters, including the mighty Godzilla, who collides with Mothra, Rodan, and his ultimate nemesis, the three-headed King Ghidorah. %></p>
								<a href="#">Read more  <i class="fas fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				
					<% }); %>
						
					<% } %>

				

			
			
		</main>

		<footer>

		</footer>

	</div> <!-- #wrapper end -->
</body>

	<!-- Javascript link -->
	<script src="/javascript/js.js"></script>

</html>